<div>
    <input [(ngModel)]="userName" placeholder="Enter your name" />
    <button (click)="onJoin(userName)">Join</button>
</div>

<div *ngIf="onlineUsers.length">
    <h3>Online Users:</h3>
    <ul>
        <li *ngFor="let user of onlineUsers" (click)="onSelectUser(user.id)">
            {{ user.name }} (ID: {{ user.id }})
        </li>
    </ul>
</div>

<div *ngIf="selectedUser">
    <h3>Chatting with: {{ selectedUser }}</h3>
    <div *ngFor="let message of chatMessages">
        <p>{{ message }}</p>
    </div>
    <input [(ngModel)]="userMessage" placeholder="Type a message" />
    <button (click)="onSendMessage()">Send</button>
</div>